<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreateDiet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
				<key>dateExpires</key>
				<string>08.08.2026</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>5.10.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ApphudSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>3.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>12.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>12.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>12.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>12.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>12.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>12.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfigInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>12.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>12.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE9570E1E2CEF23E624312A01B93017739997DB5</string>
						<key>dateExpires</key>
						<string>08.08.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3847K57V35</string>
						<key>name</key>
						<string>Georgiy Dzhaliashvili</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3847K57V35.offline.com.dieta.CreateDiet</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3847K57V35</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>CreateDiet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3431484a-ab04-4458-a0b5-d098ddb1521b</string>
				<key>dateExpires</key>
				<string>05.09.2026</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3847K57V35</string>
				<key>name</key>
				<string>Georgiy Dzhaliashvili</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
